$colorBackground: #FFFFFF;

$colorPrimary: #2196f3;
$colorPrimaryLight: #d1ebfd;
$colorPrimaryDark: #0a60a0;

$colorSecondaryLight: #d0aec4;

$colorBackgroundSupport: #e0c5a2;
$colorBackgroundFooter: #ffffff;

$colorOnDarkSurface: #ffffff;
$colorOnBackground: #000000;