@use 'src/app/stylesheets/palette' as palette;

body {
    margin: 0;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

a, .link {
    font-weight: 600;
    text-decoration: none;

    &:visited {
        color: palette.$colorOnBackground;
        text-decoration: none;
    }
}