@use "src/app/stylesheets/palette" as palette;
@use "src/app/stylesheets/constants" as constants;

.support-screen {
  padding: 6%;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.heart-icon {
  width: 420px;
  height: auto;
  align-self: center;

  @media screen and (max-width: constants.$smallScreen) {
    width: 200px;
  }
}

.promo-text {
  margin: 0 10%;
  align-self: center;

  @media screen and (max-width: constants.$smallScreen) {
    margin-bottom: 80px;
  }
}
